body {
  font-family: "Merienda", cursive;
  text-align: center;
  color: rgb(223, 223, 223);
}
h1 {
  text-align: left;
}

a {
  text-decoration: none;
}
.condition {
  font-size: 12px;
}
.min-max {
  color: gray;
  font-size: 17px;
  bottom: -15px;
}
.min-max-f {
  color: gray;
  font-size: 12px;
}
.source-code {
  text-align: left;
  margin-left: 10%;
}
.app {
  border-radius: 30px;
}
.app {
  padding: 2%;
  margin-bottom: 1%;
}
.wind {
  color: gray;
  font-size: 10px;
  bottom: -20px;
}
#con0 {
  bottom: 55px;
}
#icon0 {
  bottom: 20px;
}
#wind {
  color: gray;
  font-size: 10px;
  bottom: -20px;
}
#api-adress {
  font-size: 10px;
  display: block;
  color: rgb(229, 229, 229);
}
#github {
  color: rgb(229, 229, 229);
}
#target-time {
  font-size: 12px;
  top: -150px;
}
.time {
  font-size: 10px;
  bottom: 80px;
  color: gray;
}
.convert {
  bottom: 57px;
}
a:hover {
  text-decoration: none;
}
